1 2 * * * cd /root/backup-scripts && ./run-backup-daily
1 3 * * * cd /root/backup-scripts && ./run-backup-weekly
1 4 * * * cd /root/backup-scripts && ./run-backup-monthly
1 5 * * * cd /root/backup-scripts && ./run-backup-yearly
