# You no longer need to cd to the directory as shown in next example set.
1 2 * * * /root/backup-scripts/run-backup-daily
1 3 * * * /root/backup-scripts/run-backup-weekly
1 4 * * * /root/backup-scripts/run-backup-monthly
1 5 * * * /root/backup-scripts/run-backup-yearly

####### OR (More specific location)#######

1 2 * * * cd /root/backup-scripts && ./run-backup-daily
1 3 * * * cd /root/backup-scripts && ./run-backup-weekly
1 4 * * * cd /root/backup-scripts && ./run-backup-monthly
1 5 * * * cd /root/backup-scripts && ./run-backup-yearly
